<navigacija></navigacija>

<div class="container">
  <glava vsebina="vm.glavaStrani"></glava>
  
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="filter">Filtriranje lokacij</label>
      <input id="filter" type="text" name="filter" ng-model="filterRezultatov">
      <div class="error">{{ vm.sporocilo }}</div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="lokacija in vm.data.lokacije | filter: filterRezultatov">
          <h4>
            <a href="/lokacija/{{ lokacija._id }}">{{ lokacija.naziv }}</a>
            <small prikazi-oceno ocena="lokacija.ocena"></small>
            <span class="badge pull-right badge-default">{{ lokacija.razdalja | formatirajRazdaljo }}</span>
          </h4>
          <p class="address">{{ lokacija.naslov }}</p>
          <p>
            <span class="label label-warning lastnost" ng-repeat="lastnost in lokacija.lastnosti">{{ lastnost }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">{{ vm.stranskaOrodnaVrstica }}</p>
    </div>
  </div>
  
  <button class="btn btn-default" ng-click="vm.napolniTestne()">Dodajanje testnih podatkov</button>
  <button class="btn btn-default" ng-click="vm.izbrisiTestne()">Brisanje testnih podatkov</button>

  <noga></noga>
</div>