<div class="modal-content">
  <form id="putLokacije" name="putLokacije" ng-submit="vm.posiljanjePodatkovPUT()" role="form" class="form-horizontal">
  <div class="modal-header">
    <button type="button" ng-click="vm.modalnoOknoPUT.preklici()" class="close">
      <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
    </button>
    <h4 id="oznakaModalnegaOkna" class="modal-title">Uredi lokacijo {{ vm.podrobnostiLokacijePUT.nazivLokacije }}</h4>
  </div>
  <div class="modal-body">
    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
        <div class="form-group">
          <label for="naziv">Naziv</label>
          <input type="text" class="form-control" id="naziv" placeholder= "{{ vm.podrobnostiLokacijePUT.nazivLokacije }}" ng-model="vm.prijavniPodatki.naziv">
        </div>
        <div class="form-group">
          <label for="naslov">Naslov</label>
          <input type="text" class="form-control" id="naslov" placeholder="{{ vm.podrobnostiLokacijePUT.naslovLokacije }}" ng-model="vm.prijavniPodatki.naslov">
        </div>
        <div class="form-group">
          <label>GPS koordinate</label>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <input type="number" step="0.000001" class="form-control" id="lng" placeholder="{{ vm.podrobnostiLokacijePUT.lng }}" ng-model="vm.prijavniPodatki.lng">
            </div>
            <div class="col-md-6 col-sm-6">
              <input type="number" step="0.000001" class="form-control" id="lat" placeholder="{{ vm.podrobnostiLokacijePUT.lat }}" ng-model="vm.prijavniPodatki.lat">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastnosti">Lastnosti</label>
          <input type="text" class="form-control" id="lastnosti" placeholder="{{ vm.podrobnostiLokacijePUT.lastnosti }}" ng-model="vm.prijavniPodatki.lastnosti">
        </div>
        <!--<div class="form-group">
          <div class="row">
            <div class="col-sm-3"><label>Dnevi delovnega časa</label></div>
            <div class="col-sm-3"><label>Čas odprtja</label></div>
            <div class="col-sm-3"><label>Čas zaprtja</label></div>
            <div class="col-sm-3"><label>Ali je zaprto?</label></div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.prijavniPodatki.dnevi1">
                  <option></option>
                  <option ng-repeat="dan in ['ponedeljek - petek', 'vikend']">{{ dan }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.prijavniPodatki.odprtje1">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.prijavniPodatki.zaprtje1">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="vm.prijavniPodatki.zaprto1" ng-value="false">zaprto</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.prijavniPodatki.dnevi2">
                  <option></option>
                  <option ng-repeat="dan in ['ponedeljek - petek', 'vikend']">{{ dan }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.prijavniPodatki.odprtje2">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select class="form-control" ng-model="vm.prijavniPodatki.zaprtje2">
                  <option></option>
                  <option ng-repeat="ura in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">{{ ura }}:00</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="vm.prijavniPodatki.zaprto2">zaprto</label>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <div class="modal-footer">
      <button ng-click="vm.modalnoOknoPUT.preklici()" type="button" class="btn btn-default btn-sm">Prekliči</button>
      <button type="submit" class="btn btn-primary btn-sm">Shrani</button>
    </div>
  </form>
  </div>
</div>

<!--
<div class="modal-content">
  <form id="putLokacije" ng-submit="vm.posiljanjePodatkovPUT()" name="putLokacije" role="form" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modalnoOknoPUT.preklici()" class="close">
        <span aria-hidden="true">x</span><span class="sr-only">Zapri</span>
      </button>
      <h4 id="oznakaModalnegaOkna" class="modal-title">Dodaj komentar za {{ vm.podrobnostiLokacijePUT.nazivLokacije }}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
      <div class="form-group">
        <label for="naziv" class="col-xs-10 col-sm-2 control-label">Naziv</label>
        <div class="col-xs-12 col-sm-10">
          <input id="naziv" ng-model="vm.prijavniPodatki.naziv" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="ocena" class="col-xs-10 col-sm-2 control-label">Ocena</label>
        <div class="col-xs-12 col-sm-2">
          <select id="ocena" name="ocena" ng-model="vm.prijavniPodatki.ocena" class="form-control input-sm">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="komentar" class="col-sm-2 control-label">Komentar</label>
        <div class="col-sm-10">
          <textarea id="komentar" name="komentar" rows="5" ng-model="vm.prijavniPodatki.komentar" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modalnoOknoPUT.preklici()" type="button" class="btn btn-default btn-sm">Prekliči</button>
      <button type="submit" class="btn btn-primary btn-sm">Shrani komentar</button>
    </div>
  </form>
</div>
-->