body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lastnost {
  float:left;
  margin-right:5px;
  margin-bottom:5px;
}

label[for=filter] {
  margin-right:10px;
}

#filter {
  margin-bottom:20px;
}

footer {
  margin-top:20px;
}

#putLokacije {
  margin: 30px;
}
